table {
  border-spacing: 0px;
}
thead > tr > td {
  font-size: 12px;
  border: 1px solid black;
  border-left: 0px;
  padding: 5px;
  margin: 0;
}

thead > tr :nth-child(1) {
  border-left: 1px solid black;
}